<p>Produto excluído com sucesso.</p>

<button typo="button" class="btn btn-warning" id="voltarListagem">Voltar para listagem</button>

<script>
    const voltarListagem = document.getElementById('voltarListagem').addEventListener('click', () => { window.location.href = '../../Produto/Index'})
</script>

