<h2>Excluir Cliente</h2>

<h3>Deseja realmente excluir o cliente selecionado?</h3>

<button typo="button"class="btn btn-danger" id="cancelaExcluir">Não</button>
<button typo="button" class="btn btn-warning" id="confirmaExcluir">Sim</button>

<script>
    const confirmaExcluir = document.getElementById('confirmaExcluir').addEventListener('click', () => { window.location.href = '../../Cliente/ExcluirCliente/' + '@ViewData["IdExcluir"].ToString()'})
    const cancelaExcluir = document.getElementById('cancelaExcluir').addEventListener('click', () => { window.location.href = '../../Cliente/Index'})
</script>